/*=============== FOOTER ===============*/
.footer__container{
    row-gap: 3rem;
}
  
.footer__copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
}